# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
.nyc_output
*.local
tmp

# Editor directories and files
# .vscode/*
.node-version
# !.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lcap files
nasl.extension.*
*@*.zip